<!DOCTYPE html>
<html>
<head>
	<title>Empire Squared</title>
	<style type="text/css">img{width:200px;height:200px;}</style>
</head>
<body>
	<form method="POST" action="/login">
		<input type="text" name="user" placeholder="login username">
		<input type="submit">
	</form>
	<form method="POST" action="/">
		<input type="text" name="user" placeholder="register username">
		<input type="submit">
	</form>

	<form method="POST" action="/gen-map">
		<input type="submit" name="map" value="Gen Map">
	</form>
</body>
</html>